# Used Car Dataset Project

This project is intended to demonstrate my Data Science skills by following the Data Science Method

## Problem Identification 
Identify the correct problem to solve

 Problem Identification
● Problem statement formation
● Context
● Criteria for success
● Scope of solution space
● Constraints
● Stakeholders
● Data sources

Here are some questions to consider to help you get started:
● What is the problem you want to solve?

Create a model that lets a local used car company determine the best cars to focus keep in their inventory to make the most sales based on their location.

● Who is your client and why do they care about this problem? In other words, what will
your client do or decide based on your analysis?

My client is a local used car company that buys used cars from auctions and individual sellers, fixes them up, and resells them. They will use my analysis to help make their inventory more applicable

● What data are you using? How will you acquire the data?

I am using data from Craigslist via a dataset found on Kaggle:
https://www.kaggle.com/austinreese/craigslist-carstrucks-data

● Briefly outline how you’ll solve this problem. Your approach may change later, but this is
a good first step to get you thinking about a method and solution.

First i need to download the dataset and use my technical knowledge to get a feel for the dataset and clean it up then i can start to analyze it and start focusing on documenting any interesting finds in general and then focus on solving the issue which is “which cars should be added to the inventory first base on location and what should the competitive price point be?” 

● What are your deliverables? Typically, this includes code, a paper, or a slide deck. For this
capstone, the deliverables include:

Deliver a summary, a slide deck, a notebook, and a model.

Problem Statement for Used Car Price Prediction
We will make a project for Used Care price prediction. The problem statement is that if any user wants to buy a used car then our application should be compatible to provide a tentative price of car according to the user configurations. Although it looks like a simple project or just developing a model, the dataset we have is noisy and needs lots of feature engineering, and preprocessing that will drive your interest in developing this project.

Describing Problem Statement
Overview about dataset
Data Cleaning
Exploratory Data Analysis
Feature Engineering
Machine learning Modeling
ML web app development
Deployment Machine learning app

## Imports

In [1]:
#Importing the packages I will use
import pandas as pd #to work with dataframes
import numpy as np #to work with numpy arrays
import seaborn as sns #for visualizing
import matplotlib.pyplot as plt #for making plots
import statsmodels.api as sm # What does this do? Find out and type here.
from statsmodels.graphics.api import abline_plot # For visualling evaluating predictions.
from sklearn.metrics import mean_squared_error, r2_score # What does this do? Find out and type here.
from sklearn.model_selection import train_test_split # For splitting the data.
from sklearn import linear_model, preprocessing # What does this do? Find out and type here.
import warnings # For handling error messages.
# Don't worry about the following two instructions: they just suppress warnings that could occur later. 
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")
from sklearn import __version__ as sklearn_version
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime
import pickle
import re #regular expressions

## Data Wrangling 
Collect, organize, define, and clean a relevant datase

First thing to do is import the dataset and get a feel for it.

In [2]:
#loading the dataset as a pandas dataframe
data_raw=pd.read_csv('../data/raw/vehicles.csv')

In [3]:
#let's look at some rows
data_raw.sample(7)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
136319,7316337387,https://spokane.craigslist.org/cto/d/coeur-ale...,spokane / coeur d'alene,https://spokane.craigslist.org,13900,2015.0,volkswagen,golf sportwagen tdi,like new,4 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00K0K_8Eb70MXZrJ...,"2015 Volkswagen golf sportwagen TDI 98,xxx mil...",NaN,id,47.724800,-116.789000,2021-05-03T11:32:08-0700
261745,7310390765,https://albuquerque.craigslist.org/ctd/d/albuq...,albuquerque,https://albuquerque.craigslist.org,24999,2018.0,mazda,cx5,NaN,4 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/00c0c_lilA3e7yWP...,PLEASE CALL OR TEXT ANNAMARIE TO SCHEDULE A TE...,NaN,nm,35.058537,-106.877873,2021-04-21T10:41:52-0600
196894,7315899559,https://detroit.craigslist.org/mcb/ctd/d/chels...,detroit metro,https://detroit.craigslist.org,25449,2015.0,ford,f-150 xlt 4wd!crew cab,excellent,8 cylinders,...,NaN,truck,NaN,https://images.craigslist.org/00z0z_3bwDy6Cpfm...,$405/mo - 2015 Ford F150 F 150 F-150 XLT 4WD!C...,NaN,mi,42.300673,-84.024108,2021-05-02T16:01:52-0400
125442,7302230629,https://columbusga.craigslist.org/ctd/d/columb...,columbus,https://columbusga.craigslist.org,37990,2016.0,dodge,challenger r/t scat pack,good,8 cylinders,...,NaN,coupe,purple,https://images.craigslist.org/00V0V_iWHS3hYYFu...,Carvana is the safer way to buy a car During t...,NaN,ga,32.510000,-84.870000,2021-04-05T15:21:10-0400
221494,7316821104,https://springfield.craigslist.org/cto/d/reeds...,springfield,https://springfield.craigslist.org,11500,2003.0,ram,2500,good,6 cylinders,...,full-size,pickup,black,https://images.craigslist.org/00o0o_ec33irdjTL...,2003 Ram 2500 5.9 diesel 2 new tires less than...,NaN,mo,36.766940,-93.349628,2021-05-04T12:40:50-0500
133668,7314083937,https://eastidaho.craigslist.org/ctd/d/america...,east idaho,https://eastidaho.craigslist.org,32995,2017.0,ram,1500,NaN,8 cylinders,...,NaN,NaN,black,https://images.craigslist.org/00u0u_8vAPbnGLEH...,2017 Ram_ 1500_ Big Horn 4x4 Offe...,NaN,id,40.376357,-111.806112,2021-04-28T16:35:09-0600
88275,7316662416,https://washingtondc.craigslist.org/mld/cto/d/...,"washington, DC",https://washingtondc.craigslist.org,8700,1986.0,NaN,1986 cutlass supreme brougham,excellent,8 cylinders,...,mid-size,coupe,custom,https://images.craigslist.org/00202_1mrwH7kHGB...,"86 cutlass supreme brougham coupe, 307V8, fact...",NaN,dc,38.919400,-76.787100,2021-05-04T09:09:54-0400

I see some NaN values in several of the columns, so I will need to address that. I see that there are 26 columns. Let's do a little more looking.

In [4]:
data_raw.shape

(426880, 26)

We have over 426,000 rows and 26 columns

In [5]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

Looking at the columns and guessing what each one is, it would make more sense for the year to be an int instead of a float. county is showing as a float, which is weird. posting date is showing as an object instead of a date, need to look at that.

Before I fix the rows, I was to remove any columns that don't have any value to the business problem. I don't think id or url have any bearing. I need to see what some of them are that aren't obvious.

In [6]:
#examine columns
data_raw[~data_raw.isna().any(axis=1)]

Empty DataFrame
Columns: [id, url, region, region_url, price, year, manufacturer, model, condition, cylinders, fuel, odometer, title_status, transmission, VIN, drive, size, type, paint_color, image_url, description, county, state, lat, long, posting_date]
Index: []

[0 rows x 26 columns]

Empty...hmmm....one of the columns must be completely NaaN

In [7]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#uc as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([data_raw.isnull().sum(),100 * data_raw.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by='count',ascending=False)

               count           %
county        426880  100.000000
size          306361   71.767476
cylinders     177678   41.622470
condition     174104   40.785232
VIN           161042   37.725356
drive         130567   30.586347
paint_color   130203   30.501078
type           92858   21.752717
manufacturer   17646    4.133714
title_status    8242    1.930753
lat             6549    1.534155
long            6549    1.534155
model           5277    1.236179
odometer        4400    1.030735
fuel            3013    0.705819
transmission    2556    0.598763
year            1205    0.282281
description       70    0.016398
image_url         68    0.015930
posting_date      68    0.015930
url                0    0.000000
price              0    0.000000
state              0    0.000000
region_url         0    0.000000
region             0    0.000000
id                 0    0.000000

aha, looks like county needs to be dropped immediately

In [8]:
data_raw.drop(columns=['county'],inplace=True)
data_raw.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [9]:
#examine columns with data
data_raw[~data_raw.isna().any(axis=1)].T

,126,127,128,215,219,268,337,338,346,355,...,426780,426782,426783,426784,426785,426788,426792,426793,426833,426836
id,7305672709,7305672266,7305672252,7316482063,7316429417,7315946365,7315354216,7315349921,7315259946,7315110575,...,7303328817,7303328786,7303328773,7303328776,7303314912,7303227528,7303114896,7303112347,7302338378,7302301268
url,https://auburn.craigslist.org/ctd/d/ozark-2018...,https://auburn.craigslist.org/ctd/d/ozark-2019...,https://auburn.craigslist.org/ctd/d/ozark-2018...,https://bham.craigslist.org/ctd/d/powder-sprin...,https://bham.craigslist.org/cto/d/birmingham-1...,https://bham.craigslist.org/cto/d/bessemer-200...,https://bham.craigslist.org/cto/d/marietta-201...,https://bham.craigslist.org/cto/d/birmingham-1...,https://bham.craigslist.org/ctd/d/cleveland-20...,https://bham.craigslist.org/ctd/d/siluria-2008...,...,https://wyoming.craigslist.org/ctd/d/saddlestr...,https://wyoming.craigslist.org/ctd/d/saddlestr...,https://wyoming.craigslist.org/ctd/d/saddlestr...,https://wyoming.craigslist.org/ctd/d/saddlestr...,https://wyoming.craigslist.org/ctd/d/billings-...,https://wyoming.craigslist.org/ctd/d/billings-...,https://wyoming.craigslist.org/ctd/d/cheyenne-...,https://wyoming.craigslist.org/ctd/d/cheyenne-...,https://wyoming.craigslist.org/cto/d/kirby-jag...,https://wyoming.craigslist.org/ctd/d/dassel-20...
region,auburn,auburn,auburn,birmingham,birmingham,birmingham,birmingham,birmingham,birmingham,birmingham,...,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming
region_url,https://auburn.craigslist.org,https://auburn.craigslist.org,https://auburn.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,https://bham.craigslist.org,...,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org,https://wyoming.craigslist.org
price,0,0,0,4000,2500,9000,8950,4000,98900,9400,...,34995,23995,15999,24995,23495,12995,32999,15999,6800,0
year,2018.0,2019.0,2018.0,2002.0,1995.0,2008.0,2011.0,1972.0,2001.0,2008.0,...,2014.0,2013.0,2000.0,2014.0,2015.0,2016.0,2014.0,2018.0,1997.0,2018.0
manufacturer,chevrolet,chevrolet,chevrolet,toyota,bmw,mazda,ford,mercedes-benz,ferrari,mercedes-benz,...,gmc,toyota,ram,gmc,ford,chevrolet,ford,chevrolet,jaguar,ram
model,express cargo van,express cargo van,express cargo van,echo,525i,miata mx-5,f-150,benz,360 modena,benz c350,...,sierra,tundra,3500,sierra,f150 xlt 4x4,cruze lt,"f350, xlt","cruze, lt",xk8 convertible,2500
condition,like new,like new,like new,excellent,fair,excellent,excellent,fair,good,good,...,good,good,good,good,like new,like new,excellent,excellent,good,excellent
cylinders,6 cylinders,6 cylinders,6 cylinders,4 cylinders,6 cylinders,4 cylinders,6 cylinders,6 cylinders,8 cylinders,6 cylinders,...,8 cylinders,8 cylinders,6 cylinders,8 cylinders,8 cylinders,4 cylinders,8 cylinders,4 cylinders,8 cylinders,6 cylinders
fuel,gas,gas,gas,gas,gas,gas,gas,gas,gas,gas,...,gas,gas,gas,gas,gas,gas,diesel,gas,gas,diesel
odometer,68472.0,69125.0,66555.0,155000.0,110661.0,56700.0,164000.0,88100.0,20187.0,129473.0,...,58095.0,114215.0,199090.0,128722.0,146795.0,61127.0,154642.0,36465.0,69550.0,20492.0
title_status,clean,clean,clean,clean,clean,clean,clean,clean,clean,clean,...,clean,clean,clean,clean,clean,clean,clean,clean,clean,clean
transmission,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,...,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic
VIN,1GCWGAFP8J1309579,1GCWGAFP4K1214373,1GCWGAFPXJ1337903,JTDBT123520243495,WBAHD6322SGK86772,JM1NC25F570128735,1FTMF1CM6BKD55331,11402312009097,ZFFYT53A110125703,WDDGF56X68F140907,...,3GTU2VEC1EG297875,5TFUW5F19DX319892,3B7MF3663YM222618,1GT423CG6EF114143,1FTFX1EF5FFC24427,1G1BE5SM0G7266569,1FT8W3DT3EEB41548,1G1BE5SM7J7133704,SAJGX2749VCOO8376,3C6UR5HL3JG307217
drive,rwd,rwd,rwd,fwd,rwd,rwd,fwd,rwd,rwd,rwd,...,4wd,4wd,4wd,4wd,4wd,fwd,4wd,fwd,rwd,4wd
size,full-size,full-size,full-size,compact,mid-size,compact,full-size,full-size,mid-size,full-size,...,full-size,full-size,full-size,full-size,full-size,compact,full-size,mid-size,compact,full-size
type,van,van,van,sedan,sedan,convertible,truck,coupe,convertible,sedan,...,truck,truck,truck,truck,truck,sedan,pickup,sedan,convertible,truck
paint_color,white,white,white,blue,white,white,white,silver,red,silver,...,black,black,white,white,black,silver,brown,black,white,white
image_url,https://images.craigslist.org/00K0K_69J3ZqXVAc...,https://images.craigslist.org/00E0E_fFAYDZvzy8...,https://images.craigslist.org/00000_e8MT9cNYnG...,https://images.craigslist.org/00N0N_jYPooSDmN5...,https://images.craigslist.org/00R0R_iQQpe8BshG...,https://images.craigslist.org/00S0S_277uHKZpbG...,https://images.craigslist.org/01212_6xRHfNWpFt...,https://images.craigslist.org/00V0V_cqr3FPvHai...,https://images.craigslist.org/00x0x_L3jIoWpkvY...,https://images.craigslist.org/00101_ltjmSQnRiw...,...,https://images.craigslist.org/00c0c_fYKSvc03nQ...,https://images.craigslist.org/00b0b_i32wCUMkgq...,https://images.craigslist.org/00Q0Q_5de3ccnzHx...,https://images.craigslist.org/00J0J_9DYoZhAYcq...,https://images.craigslist.org/00L0L_jQPTRxYLV6...,https://images.craigslist.org/00T0T_kYXRjGRlmx...,https://images.craigslist.org/00r0r_ioKuz6JSc5...,https://images.craigslist.org/00m0m_dX2wkt2V4K...,https://images.craigslist.org/00a0a_glcFDSsitm...,https://images.craigslist.org/00i0i_3cSpgdy0qQ...
description,"2018 Chevrolet Express Cargo Van RWD 2500 135""...","2019 Chevrolet Express Cargo Van RWD 2500 135""...","2018 Chevrolet Express Cargo Van RWD 2500 135""...",This sky blue Toyota Echo has an excellent Car...,For sale is a 1995 BMW 525i. Engine runs great...,For sale by owner. Excellent condition with j...,2011 Ford F-150 2WD XL PickUp Truck Regular Ca...,Mercedes Benz 250c 1972. Runs and drives fine...,"2001 Ferrari 360 Modena Spider - $98,900 Year:...",2008 Mercedes Benz C350 ; Automatic ; 3.5L Eng...,...,"2014 GMC Sierra 1500 SLT - $34,995 Year: 2014...","2013 Toyota Tundra DOUBLE CAB SR5 - $23,995 Y...","2000 Dodge Ram 3500 - $15,999 Year: 2000 Make...","2014 GMC Sierra 3500 SLE - $24,995 Year: 2014...",Call or text today to find out more. (602) 620...,Call or text today to find out more. (602) 620...,Stock #: 01213 Air Conditioning; Available; Po...,Stock #: 01201 Air Conditioning; Power Windows...,"Low mileage, garaged, no accidents, dents, or ...",Phone: 320-275-2150 2018 RAM 2500 Tradesman ...
state,al,al,al,al,al,al,al,al,al,al,...,wy,wy,wy,wy,wy,wy,wy,wy,wy,wy
lat,31.425091,31.425091,31.425091,33.9135,33.3538,33.339133,34.0378,33.5409,34.586557,33.242941,...,44.354923,44.354923,44.354923,44.354923,45.7813,45.7813,41.138284,41.138284,43.64293,45.082436
long,-85.617723,-85.617723,-85.617723,-84.6859,-86.8254,-86.920052,-84.5038,-86.7495,-83.761243,-86.817312,...,-106.680384,-106.680384,-106.680384,-106.680384,-108.5727,-108.5727,-104.784799,-104.784799,-108.222976,-94.334686
posting_date,2021-04-12T11:20:35-0500,2021-04-12T11:20:00-0500,2021-04-12T11:19:58-0500,2021-05-03T17:48:17-0500,2021-05-03T16:03:27-0500,2021-05-02T16:41:28-0500,2021-05-01T11:41:04-0500,2021-05-01T11:33:56-0500,2021-05-01T08:48:02-0500,2021-04-30T19:14:16-0500,...,2021-04-07T14:42:54-0600,2021-04-07T14:42:51-0600,2021-04-07T14:42:50-0600,2021-04-07T14:42:50-0600,2021-04-07T14:18:57-0600,2021-04-07T11:58:09-0600,2021-04-07T09:06:54-0600,2021-04-07T09:03:17-0600,2021-04-05T16:29:38-0600,2021-04-05T15:18:42-0600

id and url appear useless, region looks ok, region_url is useless, price, not sure why some are 0, need to address that, year has a .0 on it, manufacturer, model,condition, cylinders, fuel are categories, odometer is quantitative, title, transmission are category, vin is useless, size type, color are categorical, image is useless for us at this point, description can be used to fill in missing values, state is fine, lat and long are good to map the region

dropping
id, url, regioni_rul, vin,image_url

at some point I guess we could redo the image_url column to a present or not to see if it had effect on the price or something

In [10]:
data_raw

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,rwd,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [11]:
#subsetting useless columns - c1 first cleaning
data_c1=data_raw.loc[:,~data_raw.columns.isin(['id','url','region_url','VIN','image_url'])]
data_c1.shape

(426880, 20)

Check for and drop duplicates - c2 second cleaning

In [12]:
data_c1.duplicated().sum()  #duplicated() function checks for duplicates

20

In [14]:
data_c2=data_c1.drop_duplicates(keep='first') #drop_duplicates() is used to drop all the duplicate entries in our dataframe
data_c2.shape

(426860, 20)

looks like we lost 20 rows

In [15]:
data_c1[~data_c1.isna().any(axis=1)].T

,31,55,59,65,73,86,110,119,126,127,...,426784,426785,426788,426792,426793,426808,426809,426831,426833,426836
region,auburn,auburn,auburn,auburn,auburn,auburn,auburn,auburn,auburn,auburn,...,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming,wyoming
price,15000,19900,14000,22500,15000,3000,9500,17500,0,0,...,24995,23495,12995,32999,15999,18000,18000,9800,6800,0
year,2013.0,2004.0,2012.0,2001.0,2017.0,2004.0,2003.0,2008.0,2018.0,2019.0,...,2014.0,2015.0,2016.0,2014.0,2018.0,2005.0,1990.0,1985.0,1997.0,2018.0
manufacturer,ford,ford,honda,ford,dodge,chrysler,chrysler,toyota,chevrolet,chevrolet,...,gmc,ford,chevrolet,ford,chevrolet,chevrolet,jeep,nissan,jaguar,ram
model,f-150 xlt,f250 super duty,odyssey,f450,charger rt 4dr sedan,town & country,town & country,fj cruiser,express cargo van,express cargo van,...,sierra,f150 xlt 4x4,cruze lt,"f350, xlt","cruze, lt",silverado 1500 lt 4x4,gand wagoneer,300zx coupe with t-tops,xk8 convertible,2500
condition,excellent,good,excellent,good,excellent,good,excellent,good,like new,like new,...,good,like new,like new,excellent,excellent,excellent,good,like new,good,excellent
cylinders,6 cylinders,8 cylinders,6 cylinders,8 cylinders,8 cylinders,6 cylinders,6 cylinders,6 cylinders,6 cylinders,6 cylinders,...,8 cylinders,8 cylinders,4 cylinders,8 cylinders,4 cylinders,8 cylinders,8 cylinders,6 cylinders,8 cylinders,6 cylinders
fuel,gas,diesel,gas,diesel,gas,gas,gas,gas,gas,gas,...,gas,gas,gas,diesel,gas,gas,gas,gas,gas,diesel
odometer,128000.0,88000.0,95000.0,144700.0,90000.0,176144.0,30376.0,201300.0,68472.0,69125.0,...,128722.0,146795.0,61127.0,154642.0,36465.0,130000.0,114400.0,115000.0,69550.0,20492.0
title_status,clean,clean,clean,clean,rebuilt,clean,clean,clean,clean,clean,...,clean,clean,clean,clean,clean,lien,clean,clean,clean,clean
transmission,automatic,automatic,automatic,manual,automatic,automatic,automatic,manual,automatic,automatic,...,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic,automatic
drive,rwd,4wd,fwd,rwd,rwd,fwd,fwd,4wd,rwd,rwd,...,4wd,4wd,fwd,4wd,fwd,4wd,4wd,rwd,rwd,4wd
size,full-size,full-size,full-size,full-size,mid-size,mid-size,mid-size,full-size,full-size,full-size,...,full-size,full-size,compact,full-size,mid-size,full-size,full-size,sub-compact,compact,full-size
type,truck,pickup,mini-van,truck,sedan,mini-van,mini-van,offroad,van,van,...,truck,truck,sedan,pickup,sedan,truck,SUV,hatchback,convertible,truck
paint_color,black,blue,silver,white,grey,silver,blue,black,white,white,...,white,black,silver,brown,black,blue,black,red,white,white
description,2013 F-150 XLT V6 4 Door. Good condition. Leve...,Here I have a unmolested Ford F-250 6.0 power ...,"Readily available. Excellent condition, clean ...","Ford Super Duty F450 , XL with King Ranch seat...","2017 dodge charger rt runs great $15,000.00",2004 Chrysler Town & Country Touring. Seats 7....,2003 Chrysler Town and Country Handicapped Acc...,Aspects: -Goodyear Wrangler Tires: 33’s -Catt...,"2018 Chevrolet Express Cargo Van RWD 2500 135""...","2019 Chevrolet Express Cargo Van RWD 2500 135""...",...,"2014 GMC Sierra 3500 SLE - $24,995 Year: 2014...",Call or text today to find out more. (602) 620...,Call or text today to find out more. (602) 620...,Stock #: 01213 Air Conditioning; Available; Po...,Stock #: 01201 Air Conditioning; Power Windows...,Just in time for SPRING … for someone who has ...,Patina Survivor... RARE Original condition. ...,"All original 1985 300zx, it’s a Automatic 3000...","Low mileage, garaged, no accidents, dents, or ...",Phone: 320-275-2150 2018 RAM 2500 Tradesman ...
state,al,al,al,al,al,al,al,al,al,al,...,wy,wy,wy,wy,wy,wy,wy,wy,wy,wy
lat,32.592,32.5475,32.628739,32.6304,32.8224,32.629409,32.614209,32.6024,31.425091,31.425091,...,44.354923,45.7813,45.7813,41.138284,41.138284,43.4528,43.4528,41.1437,43.64293,45.082436
long,-85.5189,-85.4682,-85.46182,-85.4016,-85.7704,-85.484447,-85.326357,-85.4873,-85.617723,-85.617723,...,-106.680384,-108.5727,-108.5727,-104.784799,-104.784799,-110.7393,-110.7393,-104.7962,-108.222976,-94.334686
posting_date,2021-05-03T14:02:03-0500,2021-04-29T17:19:18-0500,2021-04-27T12:20:01-0500,2021-04-26T11:15:36-0500,2021-04-24T18:39:59-0500,2021-04-21T19:26:56-0500,2021-04-16T10:40:58-0500,2021-04-13T17:05:44-0500,2021-04-12T11:20:35-0500,2021-04-12T11:20:00-0500,...,2021-04-07T14:42:50-0600,2021-04-07T14:18:57-0600,2021-04-07T11:58:09-0600,2021-04-07T09:06:54-0600,2021-04-07T09:03:17-0600,2021-04-06T21:04:03-0600,2021-04-06T21:02:26-0600,2021-04-05T18:10:52-0600,2021-04-05T16:29:38-0600,2021-04-05T15:18:42-0600

Now that we have a dataset that only has relevant values, let's look again at the missing values and weird stuff

In [16]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#uc as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([data_c1.isnull().sum(),100 * data_c1.isnull().mean()], axis=1)
missing.columns=['count','%']
missing.sort_values(by='count',ascending=False)

               count          %
size          306361  71.767476
cylinders     177678  41.622470
condition     174104  40.785232
drive         130567  30.586347
paint_color   130203  30.501078
type           92858  21.752717
manufacturer   17646   4.133714
title_status    8242   1.930753
lat             6549   1.534155
long            6549   1.534155
model           5277   1.236179
odometer        4400   1.030735
fuel            3013   0.705819
transmission    2556   0.598763
year            1205   0.282281
description       70   0.016398
posting_date      68   0.015930
state              0   0.000000
price              0   0.000000
region             0   0.000000

let's see what is in the description to add to any missing values

The next part comes from https://towardsdatascience.com/end-to-end-data-science-project-predicting-used-car-prices-using-regression-1b12386c69c8

We will use regex and feature engineering to get the info from the description to add to the mising fields

In [17]:
import re

manufacturer = '(gmc | hyundai | toyota | mitsubishi | ford | chevrolet | ram | buick | jeep | dodge | subaru | nissan | audi | rover  | lexus \
| honda | chrysler | mini | pontiac | mercedes-benz | cadillac | bmw | kia | volvo | volkswagen | jaguar | acura | saturn | mazda | \
mercury | lincoln | infiniti | ferrari | fiat | tesla | land rover | harley-davidson | datsun | alfa-romeo | morgan | aston-martin | porche \
| hennessey)'
condition = '(excellent | good | fair | like new | salvage | new)'
fuel = '(gas | hybrid | diesel |electric)'
title_status = '(clean | lien | rebuilt | salvage | missing | parts only)'
transmission = '(automatic | manual)'
drive = '(4x4 | awd | fwd | rwd | 4wd)'
size = '(mid-size | full-size | compact | sub-compact)'
type_ = '(sedan | truck | SUV | mini-van | wagon | hatchback | coupe | pickup | convertible | van | bus | offroad)'
paint_color = '(red | grey | blue | white | custom | silver | brown | black | purple | green | orange | yellow)'
cylinders = '(\s[1-9] cylinders? |\s1[0-6]? cylinders?)'

keys =    ['manufacturer', 'condition', 'fuel', 'title_status', 'transmission', 'drive','size', 'type', 'paint_color' , 'cylinders']
columns = [ manufacturer,   condition,   fuel,  title_status, transmission ,drive, size, type_, paint_color,   cylinders]

for i,column in zip(keys,columns):
    data_c2[i] = data_c2[i].fillna(
      data_c2['description'].str.extract(column, flags=re.IGNORECASE, expand=False)).str.lower()

data_c3=data_c2.drop('description', axis=1)

C:\Users\ALW-HP~1\AppData\Local\Temp/ipykernel_8764/958322360.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c2[i] = data_c2[i].fillna(

In [18]:
data_c3.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,lat,long,posting_date
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

Need to strip out white space

In [19]:
columns=['manufacturer', 'condition', 'fuel', 'title_status', 'transmission', 'drive','size', 'type', 'paint_color' , 'cylinders']
for i in columns:
    data_c3[i]=data_c3[i].str.strip()

Let's see what that did for our null values

In [21]:
missing = pd.concat([data_c1.isnull().sum(),100 * data_c1.isnull().mean()], axis=1)
missing.columns=['count','%']
print(missing.sort_values(by='count',ascending=False))
missing = pd.concat([data_c3.isnull().sum(),100 * data_c3.isnull().mean()], axis=1)
missing.columns=['count','%']
print(missing.sort_values(by='count',ascending=False))

               count          %
size          306361  71.767476
cylinders     177678  41.622470
condition     174104  40.785232
drive         130567  30.586347
paint_color   130203  30.501078
type           92858  21.752717
manufacturer   17646   4.133714
title_status    8242   1.930753
lat             6549   1.534155
long            6549   1.534155
model           5277   1.236179
odometer        4400   1.030735
fuel            3013   0.705819
transmission    2556   0.598763
year            1205   0.282281
description       70   0.016398
posting_date      68   0.015930
state              0   0.000000
price              0   0.000000
region             0   0.000000
               count          %
size          288996  67.702760
cylinders     168231  39.411282
drive          98322  23.033782
condition      83314  19.517875
type           57203  13.400881
paint_color    51200  11.994565
manufacturer   12098   2.834185
lat             6538   1.531650
long            6538   1.531650
title_status    6442   1.509160
model           5266   1.233660
odometer        4389   1.028206
fuel            2058   0.482125
transmission    1627   0.381155
year            1194   0.279717
posting_date      57   0.013353
state              0   0.000000
price              0   0.000000
region             0   0.000000

seems to have helped quite a bit

At this point, I am going to save the dataframe so that the processing takes less time.

In [22]:
data_c3.to_csv('../data/raw/d3.csv',index=False)

PermissionError: [Errno 13] Permission denied: '../data/raw/d3.csv'